@model RealEstateRentals.ViewModels.ListingSearchVM

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

@if (Model.lListings != null)
{
    <ol data-role="listview">
    @foreach (var item in Model.lListings)
    {
        
            <li>@Html.DisplayFor(modelItem => item.Address)</li>
        
    }
    </ol>    
}
else
{
    <span>No results</span>
}

